Take the following words and sum up their ascii values
For the first word 'Love'
L = 76
o = 111
v = 118
e = 11
The sum is 406 words = ['Love','Python','Dictionary','List','Tuple','Set','Ternary']
Return the word and the sum as a list of tuples:
Output = ('Love',416)

In [6]:
words = ['Love','Python','Dictionary','List','Tuple','Set','Ternary']
list_words = []
for i in words:
    add = 0 
    for y in i:
        add = add + ord(y)
    print (f"'{i}' its ascii value is: {add}'")
    list_words.append((i,add))
print (list_words)

'Love' its ascii value is: 406'
'Python' its ascii value is: 642'
'Dictionary' its ascii value is: 1046'
'List' its ascii value is: 412'
'Tuple' its ascii value is: 522'
'Set' its ascii value is: 300'
'Ternary' its ascii value is: 741'
[('Love', 406), ('Python', 642), ('Dictionary', 1046), ('List', 412), ('Tuple', 522), ('Set', 300), ('Ternary', 741)]