# Exercise
Using the states table answer the following: <br>
1 - List all states with the word 'New'<br>
2 - How many states have more than 1 word names<br>
3 - List all of the states with either 'North', 'South', 'West' or 'East' in the name <br>
4 - Print all the states where the statename is Rhode Island or Maine or New Hampshire <br>

In [1]:
import mysql.connector
import os

mysql_config =  {
  'user': 'root',
  'password': 'Admin321',
  'host': '127.0.0.1',
  'auth_plugin':'mysql_native_password'
}
conn = mysql.connector.connect(**mysql_config)
curr = conn.cursor(buffered=True)
curr.execute('USE abc_corp;')  # <------ The database
sql = 'CREATE TABLE IF NOT EXISTS states (code CHAR(2),state_name VARCHAR(50))'
curr.execute(sql)
conn.commit()
sql = 'DELETE FROM states;'
curr.execute(sql)
conn.commit()

# /Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day15
proj_dir = r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day15'
os.chdir(proj_dir)
with open(r'US_states_codes.txt') as fh:
    line = fh.readlines()
    for i in line:
        state_name,code = i.split('-')
        state_name = state_name.strip()
        code = code.strip().replace('\n','')
        print(code,state_name)
        sql = f'''INSERT INTO states VALUES ('{code}','{state_name}') '''
        curr.execute(sql)
        conn.commit()

# conn.close()

AL Alabama
AK Alaska
AZ Arizona
AR Arkansas
CA California
CO Colorado
CT Connecticut
DE Delaware
FL Florida
GA Georgia
HI Hawaii
ID Idaho
IL Illinois
IN Indiana
IA Iowa
KS Kansas
KY Kentucky
LA Louisiana
ME Maine
MD Maryland
MA Massachusetts
MI Michigan
MN Minnesota
MS Mississippi
MO Missouri
MT Montana
NE Nebraska
NV Nevada
NH New Hampshire
NJ New Jersey
NM New Mexico
NY New York
NC North Carolina
ND North Dakota
OH Ohio
OK Oklahoma
OR Oregon
PA Pennsylvania
RI Rhode Island
SC South Carolina
SD South Dakota
TN Tennessee
TX Texas
UT Utah
VT Vermont
VA Virginia
WA Washington
WV West Virginia
WI Wisconsin
WY Wyoming

In [54]:
# a.

import mysql.connector
import os

mysql_config =  {
  'user': 'root',
  'password': 'Admin321',
  'host': '127.0.0.1',
  'auth_plugin':'mysql_native_password'
}
conn = mysql.connector.connect(**mysql_config)
curr = conn.cursor(buffered=True)
curr.execute('USE abc_corp;')  # <------ The database
curr.execute('''SELECT code, state_name 
FROM states 
WHERE state_name LIKE "New%"
;''') 
tables = curr.fetchall()
for table in tables:
    print(table)

('NH', 'New Hampshire')
('NJ', 'New Jersey')
('NM', 'New Mexico')
('NY', 'New York')

In [55]:
# 2 - How many states have more than 1 word names

import mysql.connector
import os

mysql_config =  {
  'user': 'root',
  'password': 'Admin321',
  'host': '127.0.0.1',
  'auth_plugin':'mysql_native_password'
}
conn = mysql.connector.connect(**mysql_config)
curr = conn.cursor(buffered=True)
curr.execute('USE abc_corp;')  # <------ The database
curr.execute('''SELECT code, state_name 
FROM states 
WHERE state_name LIKE "% %"
;''') 
tables = curr.fetchall()
for table in tables:
    print(table)

('NH', 'New Hampshire')
('NJ', 'New Jersey')
('NM', 'New Mexico')
('NY', 'New York')
('NC', 'North Carolina')
('ND', 'North Dakota')
('RI', 'Rhode Island')
('SC', 'South Carolina')
('SD', 'South Dakota')
('WV', 'West Virginia')

In [67]:
# 3 - List all of the states with either 'North', 'South', 'West' or 'East' in the name


import mysql.connector
import os

mysql_config =  {
  'user': 'root',
  'password': 'Admin321',
  'host': '127.0.0.1',
  'auth_plugin':'mysql_native_password'
}
conn = mysql.connector.connect(**mysql_config)
curr = conn.cursor(buffered=True)
curr.execute('USE abc_corp;')  # <------ The database
curr.execute('''SELECT code, state_name 
FROM states 
WHERE state_name LIKE "%North%" or state_name LIKE "%South%" or state_name LIKE "%West%"  or state_name LIKE "%East%"
;''') 
tables = curr.fetchall()
for table in tables:
    print(table)

('NC', 'North Carolina')
('ND', 'North Dakota')
('SC', 'South Carolina')
('SD', 'South Dakota')
('WV', 'West Virginia')

In [52]:
import mysql.connector
import os

mysql_config =  {
  'user': 'root',
  'password': 'Admin321',
  'host': '127.0.0.1',
  'auth_plugin':'mysql_native_password'
}
conn = mysql.connector.connect(**mysql_config)
curr = conn.cursor(buffered=True)
curr.execute('USE abc_corp;')  # <------ The database
curr.execute('''SELECT code, state_name 
FROM states 
WHERE state_name IN ('Rhode Island','Maine','New Hampshire')
;''') 
tables = curr.fetchall()
for table in tables:
    print(table)

('ME', 'Maine')
('NH', 'New Hampshire')
('RI', 'Rhode Island')

In [ ]:
curr.execute('SELECT * FROM states WHERE state_name = "%New%"')
tables = curr.fetchall()
for table in tables:
    print(table)
print('='*40)

In [ ]:
c.execute('SELECT * FROM states WHERE LIKE state_name = "% %"')
tables = c.fetchall()
for table in tables:
    print(table)
print('='*40)

In [ ]:
# 3 - List all of the states with either 'North', 'South', 'West' or 'East' in the name
c.execute('SELECT * FROM states WHERE state_name = "North" WHERE state_name = "South" WHERE state_name = "West" WHERE state_name = "East"')
tables = c.fetchall()
for table in tables:
    print(table)
print('='*40)

In [ ]:
# 4 - Print all the states where the statename is Rhode Island or Maine or New Hampshire
c.execute('SELECT * FROM states WHERE state_name = "Rhode Island" WHERE state_name = "Maine" WHERE state_name = "New Hampshire"')
tables = c.fetchall()
for table in tables:
    print(table)
print('='*40)

In [ ]:
import mysql.connector
import os

mysql_config =  {
  'user': 'root',
  'password': 'Admin321',
  'host': '127.0.0.1',
  'auth_plugin':'mysql_native_password'
}
conn = mysql.connector.connect(**mysql_config)
curr = conn.cursor(buffered=True)
curr.execute('USE abc_corp;')  # <------ The database

curr.execute('SELECT code, state_name FROM states;')  # <------ The database
tables = curr.fetchall()
for table in tables:
    print(table)        
conn.close()
# Refine my SQL
curr.execute('SELECT code, state_name FROM states WHERE state_name LIKE "NEW%";')
table = curr.fetchall()
for table in table:
  print (table)
  curr.close()