<h2>Range</h2>

In [2]:
x = range(10)
print(x, type(x))
for i in x:
    print(i)

print ([i for i in x])

range(0, 10) <class 'range'>
<generator object <genexpr> at 0x7fab396254a0>

In [79]:
x = range(int(10.))
print(x)

range(0, 10)

In [6]:
x = range(10, 21)
for i in x:
    print(i)


print ([i for i in x])

10
11
12
13
14
15
16
17
18
19
20
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
beg_val = 100
end_val = 121
for i in range(beg_val,end_val):
    print(i)

print ([i for i in range(beg_val, end_val)])

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120]

In [8]:
beg_val = 100
end_val = 121
for i in range(beg_val,end_val,2):
    print(i)

print ([i for i in range (beg_val, end_val,2 )])

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120]

In [6]:
beg_val = 101
end_val = 121
for i in range(beg_val,end_val,2):
    print(i)

101
103
105
107
109
111
113
115
117
119

In [7]:
beg_val = 101
end_val = 121
for i in range(beg_val,end_val):
    if i % 2 == 0:
        print(f'{i} is an even number')

102 is an even number
104 is an even number
106 is an even number
108 is an even number
110 is an even number
112 is an even number
114 is an even number
116 is an even number
118 is an even number
120 is an even number

In [11]:
beg_val = 101
end_val = 121
for i in range(beg_val,end_val):
    if i % 2 == 1:
        print(f'{i} is an odd number')

print ([f'{i} is an odd number' for i in range(beg_val, end_val) if i % 2 == 1])

101 is an odd number
103 is an odd number
105 is an odd number
107 is an odd number
109 is an odd number
111 is an odd number
113 is an odd number
115 is an odd number
117 is an odd number
119 is an odd number
['101 is an odd number', '103 is an odd number', '105 is an odd number', '107 is an odd number', '109 is an odd number', '111 is an odd number', '113 is an odd number', '115 is an odd number', '117 is an odd number', '119 is an odd number']

<h4>Count down by -1</h4>

In [12]:
for i in range(120,99,-1):
    print(i)

print ([i for i in range(120,99,-1)])

120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
[120, 119, 118, 117, 116, 115, 114, 113, 112, 111, 110, 109, 108, 107, 106, 105, 104, 103, 102, 101, 100]

In [12]:
for i in range(120,99,-2):
    print(i)

120
118
116
114
112
110
108
106
104
102
100

<h2>Exercise</h2>
1 - You have the following string and want to print out<br>
every 3rd character.<br>
<br>
phrase = 'Learning at Code Immersives is challenging, but fun'<br>
<br>
2 - Print the answer as a string with no spaces or commas<br>

In [24]:
phrase = 'Learning at Code Immersives is challenging, but fun'

for i in range (0, len(phrase),3):
    print (i, phrase[i])

print ([(i,phrase[i]) for i in range(0, len(phrase), 3)])

[(0, 'L'), (3, 'r'), (6, 'n'), (9, 'a'), (12, 'C'), (15, 'e'), (18, 'm'), (21, 'r'), (24, 'v'), (27, ' '), (30, ' '), (33, 'a'), (36, 'e'), (39, 'i'), (42, ','), (45, 'u'), (48, 'f')]

<h4>Special cases</h4>

In [25]:
beg_num = 120
end_num = 110
for i in range(beg_num,end_num,2):
    print(i)

In [14]:
beg_num = 120
end_num = 110
for i in range(beg_num,end_num,-2):
    print(i)

120
118
116
114
112

<h2>Insert  and delete in a list</h2>
insert function as opposed to append which adds to the end of the list

In [16]:
x = [2,5,8,13,6]
# Add to the end
x.append(90)
print(x)

# To remove use pop()
x.pop()
print(x)

[2, 5, 8, 13, 6, 90]
[2, 5, 8, 13, 6]

<h4>String removed from a list</h4>

In [27]:
fruit = ['Banana','Apple','Pear','Kiwi']
item_removed = fruit.pop()
print(fruit,item_removed)

['Banana', 'Apple', 'Pear'] Kiwi

<h4>Insert</h4>

In [26]:
fruit = ['Banana','Apple','Pear','Kiwi']

# Add to the beginning of the list
fruit.insert(0,'Orange')
print(fruit)

['Orange', 'Banana', 'Apple', 'Pear', 'Kiwi']

In [28]:
fruit = ['Banana','Apple','Pear','Kiwi']

# Add to the beginning of the list
fruit.insert(len(fruit),'Orange')
print(fruit)

['Banana', 'Apple', 'Pear', 'Kiwi', 'Orange']

<h4>Method 2 - removing an item from a list</h4>
remove()

In [34]:
fruit = ['Banana','Apple','Pear','Kiwi','Apple']
fruit.remove('Apple')  # Removes the first instance
print(fruit)
# fruit.remove('Apple')  # You CANNOT remove an item that is not in the list !!!
# print(fruit)
print(help(fruit.remove))

['Banana', 'Pear', 'Kiwi', 'Apple']
Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

None

<h4>Last method to remove an item from a list</h4>
Use del index

In [52]:
fruit = ['Banana','Apple','Pear','Kiwi','Apple']

# To remove the second item
del fruit[2]

print(fruit)

['Banana', 'Apple', 'Kiwi', 'Apple']

<h4>Position of an item in a list</h4>
Use index() and count()

In [37]:
fruit = ['Prickly Pear', 'Banana','Apple','Pear','Kiwi','Apple', 'Prickly Pear']
remove_item = 'Prickly Pear'
print (fruit.count(remove_item), fruit.count(remove_item) and fruit.index(remove_item) )
if fruit.count(remove_item) and fruit.index(remove_item) > 0:
    fruit.remove(remove_item)
else:
    print(f'The item {remove_item} is not in the list')
print(fruit)

2 0
The item Prickly Pear is not in the list
['Prickly Pear', 'Banana', 'Apple', 'Pear', 'Kiwi', 'Apple', 'Prickly Pear']

<h4>How does the boolean evaluate values in an if</h4>
Anything that evaluates to 0 is FALSE<br>
Any other value is True

In [39]:
x = 0
if x:
    print(f'{x} is True')
else:
    print(f'{x} is False')

print (f'{x} is True' if x else f'{x} is Flase' )

0 is False
0 is Flase

In [40]:
x = -1
if x:
    print(f'{x} is True')
else:
    print(f'{x} is False')

print (f'{x} is True' if x else f'{x} is False')

-1 is True
-1 is True

In [43]:
x = ''
if x:
    print(f'{x} is True')
else:
    print(f'{x} is False')

 is False

In [44]:
x = 'a'
if x:
    print(f'{x} is True')
else:
    print(f'{x} is False')

a is True

In [46]:
x = 10
if x > 12:
    print(f'{x} is True')
else:
    print(f'{x} is False')

10 is False

In [48]:
x = 2
if x % 2 == 0 and 0:
    print(f'{x} is True')
else:
    print(f'{x} is False')

2 is False

In [49]:
x = 2
if x % 2 == 0 or 0:
    print(f'{x} is True')
else:
    print(f'{x} is False')

2 is True

In [80]:
x = None
if x:
    print(f'{x} is True')
else:
    print(f'{x} is False')

None is False

<h2>Math library</h2>

In [42]:
import math
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [45]:
help (math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [55]:
# Use the built in math library

x = 2.2
print(type(x))
print(math.ceil(x))
print(math.e)
print(math.factorial(5))
print(math.floor(x))
print(math.pow(2,4))
print(math.prod([2,4]))  # takes a list
print(math.remainder(12,5))

<class 'float'>
3
2.718281828459045
120
2
16.0
8
2.0

<h2>Exercise</h2>
Write code to create the factorial of a number

In [60]:
x = 5
# 5 4 3 2 1 
# step 1 - iterate over the proper range of numbers
for i in range(x,0,-1):
    print(i)
    
# Step 2 - multiply
factorial = 1
for i in range(x,0,-1):
    factorial *= i
print(f'{x} factorial = {factorial}')
print(math.factorial(5))

5
4
3
2
1
5 factorial = 120
120

In [64]:
x = 2.2
print(math.floor(x),type(math.floor(x)))
print(math.prod([5,4,3,2,1]))
print(math.prod(range(5,0,-1)))

2 <class 'int'>
120
120

<h2>Exercise</h2>
Iterate over 2 lists and print the following<br>
<code>
playerNames = ['John','Duane','Michael','Walter','Terrance']
playerHeights = ["6’1","5’9","6’3","5’11","6’7"]
</code><br>
RESULT Sample line:  Duane is 5’9 tall.

In [65]:
playerNames = ['John','Duane','Michael','Walter','Terrance']
playerHeights = ["6’1","5’9","6’3","5’11","6’7"]
for i,player in enumerate(playerNames):
    print(f'{player} is {playerHeights[i]} tall.')

John is 6’1 tall.
Duane is 5’9 tall.
Michael is 6’3 tall.
Walter is 5’11 tall.
Terrance is 6’7 tall.

### functions<a id="16"></a>
Defining a function<br>
```python
def add2(num):
    return num + 2
newNum = add2(8)
print(newNum)
```

In [82]:
def add2(num):     # Define the function
    return num + 2  # Return a value

newNum = add2(8)  # Call the function
print(newNum)

10

<h4>Create a new function called multiply by 3</h4>

In [ ]:
def multiplyBy3(num):
    return num * 3

newNum = multiplyBy3(8)  # Call the function
print(newNum)

<h2>For the numbers 20 to 40 run your 2 functions</h2>

In [68]:
def add2(num):     # Define the function
    return num + 2  # Return a value

def multiplyBy3(num):
    return num * 3

for i in range(20,41):
    print(i,add2(i),multiplyBy3(i))

20 22 60
21 23 63
22 24 66
23 25 69
24 26 72
25 27 75
26 28 78
27 29 81
28 30 84
29 31 87
30 32 90
31 33 93
32 34 96
33 35 99
34 36 102
35 37 105
36 38 108
37 39 111
38 40 114
39 41 117
40 42 120

<h2>Exercise</h2>
grades = [90, 78, 66, 59,88,84,49]
<code>
If the grade is above a 80 print
The grade is passing in my class
An XYZ grade means you need help in my class
</code>

In [70]:
grades = [90, 78, 66, 59,88,84,49]
for grade in grades:
    if grade >= 80:
        print(f'The grade {grade} is passing in my class')
    else:
        print(f'An {grade} grade means you need help in my class')

The grade 90 is passing in my class
An 78 grade means you need help in my class
An 66 grade means you need help in my class
An 59 grade means you need help in my class
The grade 88 is passing in my class
The grade 84 is passing in my class
An 49 grade means you need help in my class

Consolidate as a ternary operator

In [73]:
grades = [90, 78, 66, 59,88,84,49]
for grade in grades:
    print(f'The grade {grade} is passing in my class' if grade >= 80 else \
    f'An {grade} grade means you need help in my class')

The grade 90 is passing in my class
An 78 grade means you need help in my class
An 66 grade means you need help in my class
An 59 grade means you need help in my class
The grade 88 is passing in my class
The grade 84 is passing in my class
An 49 grade means you need help in my class

<h2>Pass</h2>
Temporary holder for code

In [76]:
def add2(num):     # Define the function
    return num + 2  # Return a value

def multiplyBy3(num):
    return num * 3

def doubler(num):
    pass

for i in range(20,41):
    print(i,add2(i),multiplyBy3(i))

20 22 60
21 23 63
22 24 66
23 25 69
24 26 72
25 27 75
26 28 78
27 29 81
28 30 84
29 31 87
30 32 90
31 33 93
32 34 96
33 35 99
34 36 102
35 37 105
36 38 108
37 39 111
38 40 114
39 41 117
40 42 120