<h2>Review<h2>

Write code to calculate the mean of grades.<br>
The grades are 88,92,86, 89, 93<br>
assign each grade a name<br>
Write code below

In [2]:
# step 1 - assign each number a name
grade_1 = 88
grade_2 = 92
grade_3 = 86
grade_4 = 89
grade_5 = 93

# step 2 - add all of the grades
tot_grades = grade_1 + grade_2 + grade_3 + grade_4 + grade_5
print(f'Total of grades is {tot_grades}')

# step 3 - To divide by the number of grades - 5 in this case
mean_grades = tot_grades / 5
print(f'The mean of my grades is {mean_grades}')

Total of grades is 448
The mean of my grades is 89.6

<h2>New data structure - list</h2>
The list holds zero or more items<br>
We initialize the list as follows:<br>
<code>
    grades = []  # We use square brackets to denote a list
</code>

In [4]:
grades = []
print(type(grades))

# In production code we use isinstance
if isinstance(grades,list):
    print('grades is a list')

<class 'list'>
grades is a list

<h2>How do add items to a list</h2>
Method 1 - Store them initially<br>
<code>
    grades = [ 88,92,86, 89, 93]
</code>

In [5]:
grades = [ 88,92,86, 89, 93]
print(grades)

[88, 92, 86, 89, 93]

<h4>How many items in my list?</h4>
Use the len() function
<code>
    grades = [ 88,92,86, 89, 93]
    num_of_grades = len(grades)
</code>

<h4>How do we add up items in our list?</h4>
Use the sum() function
<code>
    grades = [ 88,92,86, 89, 93]
    tot_grades = sum(grades)
</code>

In [8]:
grades = [ 88,92,86, 89, 93]

mean_grades = sum(grades) / len(grades)
print(f'The mean of my grades is {mean_grades}')

The mean of my grades is 89.6

<h2>New data structure is a Tuple</h2>
Similar to the list but it is immutable - INTERVIEW QUESTION<br>
Use parenthesis to denote
<code>
    days = ('Mon','Tue')
</code>
You CANNOT change a tuple once created<br>
Like: Days of the week, Planets, Months of the year<br>

In [12]:
days_of_the_week = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
print(days_of_the_week)
print(type(days_of_the_week))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
<class 'tuple'>

<h2>Method 2 to add to a list - append()</h2>
Use append to add to a list<br>
Adds the item to the end of the list<br>

In [13]:
grades = [ 88,92,86, 89, 93]

# Add a new grade
grades.append(90)
print(grades)

[88, 92, 86, 89, 93, 90]

<h4>Attempting to add an item to a tuple will produce an error</h4>

In [14]:
days_of_the_week = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
days_of_the_week.append('Weekend')

AttributeError: 'tuple' object has no attribute 'append'

<h2>How do I know which methods are available for this object</h2>
Use dir()

In [15]:
print(dir(days_of_the_week))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [16]:
grades = [ 88,92,86, 89, 93]
print(dir(grades))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

<h2>How do we access individual items in a list or tuple?</h2>
Use indexing<br>
Allow us to assign a number to an element to get its value<br>
== NOTE == Indexing starts with 0 !!!!!

In [18]:
grades = [ 88,92,86, 89, 93]

# To access the first item use index 0
print(f'The first item in my grades list is {grades[0]}')

print(f'The second item in my grades list is {grades[1]}')

The first item in my grades list is 88
The second item in my grades list is 92

In [19]:
# tuple
days_of_the_week = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
# To access the first item use index 0
print(f'The first item in my days of week list is {days_of_the_week[0]}')

print(f'The second item in my  days of week list is {days_of_the_week[1]}')

The first item in my days of week list is Monday
The second item in my  days of week list is Tuesday

<h4>Shortcuts</h4>

In [20]:
# Last element
# tuple
days_of_the_week = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
# To access the first item use index 0
print(f'The last item in my days of week list is {days_of_the_week[-1]}')

The last item in my days of week list is Sunday

<h2>Indexing and Slicing</h2>
Use slicing to access a range of elements in my list.<br>
To get the first 2 elements in my list<br>
<code>
grades = [ 88,92,86, 89, 93]
print(grades[:2])
</code><br>
NOTE - It is exclusive of the last element!!!

In [21]:
grades = [ 88,92,86, 89, 93]
print(grades[:2])

[88, 92]

In [22]:
# To get the 1st and 2nd element
grades = [ 88,92,86, 89, 93]
print(grades[1:3])

[92, 86]

In [23]:
# To get the last 2 elements
grades = [ 88,92,86, 89, 93]
print(grades[-2:])

[89, 93]

In [24]:
# To get the first 2 and the last 2 elements
grades = [ 88,92,86, 89, 93]
print(grades[:2] + grades[-2:])

[88, 92, 89, 93]

<h2>Iteration</h2>
The method of accessing each individual element of a list, tuple or a string<br>

<h4>Method 1</h4>
Use the for and in operators<br>
<code>
for i in grades:
    print(i)
</code>

In [5]:
grades = [ 88,92,86, 89, 93]
for grade in grades:
    print(grade)

#Tenary operations

t_ope = [f'This is the grades list: {grade}' for grade in grades]
print (t_ope)

88
92
86
89
93
['This is the grades list: 88', 'This is the grades list: 92', 'This is the grades list: 86', 'This is the grades list: 89', 'This is the grades list: 93']

In [6]:
grades = [ 88,92,86, 89, 93]
for grade in grades:
    # subtract 5 points from every grade
    print(grade-5)


minus_5 = [grade-5 for grade in grades]
print (minus_5)

83
87
81
84
88
[83, 87, 81, 84, 88]

<h4>Print all output on 1 line</h4>
use print() function with an optional parameter end = ''<br>

In [9]:
grades = [ 88,92,86, 89, 93]
for grade in grades:
    print(grade, end=', ')

# Invalid syntasis for tenary operations. 
# one_line = [(grade, end=', ') for grade in grades]

SyntaxError: invalid syntax (2753091650.py, line 6)

<h4>Method 2 - Enumeration</h4>
Iterate using an index
<code>
    days_of_the_week = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
    for i,day in enumerate(days_of_the_week):
        print(i,day)
</code>

In [32]:
days_of_the_week = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
for i in enumerate(days_of_the_week):
    print(i[0], i[1], i )

print ([day for day in enumerate(days_of_the_week)])

0 Monday (0, 'Monday')
1 Tuesday (1, 'Tuesday')
2 Wednesday (2, 'Wednesday')
3 Thursday (3, 'Thursday')
4 Friday (4, 'Friday')
5 Saturday (5, 'Saturday')
6 Sunday (6, 'Sunday')

<h4>Method 3 - Iteration</h4>
Use a range object
<code>
    days_of_the_week = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
    for i in range(len(days_of_the_week)):
        print(days_of_the_week[i])
</code>

In [16]:
days_of_the_week = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
for i in range(len(days_of_the_week)):
    print(days_of_the_week[i])

print ([days_of_the_week[i] for i in range(len(days_of_the_week))])

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

<h2>Iteration over a string</h2>

In [39]:
words = 'A journey of a million miles begins with one step'
print(words[10:22])

of a million

In [35]:
words = 'A journey of a million miles begins with one step'

# method 1 - use the in operator
for letter in words:
    print(letter)

print ([letter for letter in words])

A

j
o
u
r
n
e
y

o
f

a

m
i
l
l
i
o
n

m
i
l
e
s

b
e
g
i
n
s

w
i
t
h

o
n
e

s
t
e
p
['A', ' ', 'j', 'o', 'u', 'r', 'n', 'e', 'y', ' ', 'o', 'f', ' ', 'a', ' ', 'm', 'i', 'l', 'l', 'i', 'o', 'n', ' ', 'm', 'i', 'l', 'e', 's', ' ', 'b', 'e', 'g', 'i', 'n', 's', ' ', 'w', 'i', 't', 'h', ' ', 'o', 'n', 'e', ' ', 's', 't', 'e', 'p']

In [29]:
words = 'A journey of a million miles begins with one step'

# method 2 - use enumeration
for i,char in enumerate(words):
    # print(i, char)
    pass


print([(i[0], i[1])  for i in enumerate (words)])

[(0, 'A'), (1, ' '), (2, 'j'), (3, 'o'), (4, 'u'), (5, 'r'), (6, 'n'), (7, 'e'), (8, 'y'), (9, ' '), (10, 'o'), (11, 'f'), (12, ' '), (13, 'a'), (14, ' '), (15, 'm'), (16, 'i'), (17, 'l'), (18, 'l'), (19, 'i'), (20, 'o'), (21, 'n'), (22, ' '), (23, 'm'), (24, 'i'), (25, 'l'), (26, 'e'), (27, 's'), (28, ' '), (29, 'b'), (30, 'e'), (31, 'g'), (32, 'i'), (33, 'n'), (34, 's'), (35, ' '), (36, 'w'), (37, 'i'), (38, 't'), (39, 'h'), (40, ' '), (41, 'o'), (42, 'n'), (43, 'e'), (44, ' '), (45, 's'), (46, 't'), (47, 'e'), (48, 'p')]

In [43]:
words = 'A journey of a million miles begins with one step'

# method 3 - use range
for i in range(len(words)):
    print(i, words[i])

print ([(i,words[i]) for i in range(len(words))])

[(0, 'A'), (1, ' '), (2, 'j'), (3, 'o'), (4, 'u'), (5, 'r'), (6, 'n'), (7, 'e'), (8, 'y'), (9, ' '), (10, 'o'), (11, 'f'), (12, ' '), (13, 'a'), (14, ' '), (15, 'm'), (16, 'i'), (17, 'l'), (18, 'l'), (19, 'i'), (20, 'o'), (21, 'n'), (22, ' '), (23, 'm'), (24, 'i'), (25, 'l'), (26, 'e'), (27, 's'), (28, ' '), (29, 'b'), (30, 'e'), (31, 'g'), (32, 'i'), (33, 'n'), (34, 's'), (35, ' '), (36, 'w'), (37, 'i'), (38, 't'), (39, 'h'), (40, ' '), (41, 'o'), (42, 'n'), (43, 'e'), (44, ' '), (45, 's'), (46, 't'), (47, 'e'), (48, 'p')]

<h2>How do calculate the standard deviation manually?</h2>

In [48]:
import math

grades = [ 88,92,86, 89, 93]

# Calculate the mean
calc_mean = sum(grades)/len(grades)
sum_squares = 0
for grade in grades:
    sum_squares += (grade-calc_mean) ** 2

grades_std = math.sqrt(sum_squares/(len(grades)-1))
print(f'The standard deviation of grades is {round(grades_std,2)}')

The standard deviation of grades is 2.88

<h2>round function</h2>

<h2>Explain what the shorthand +=, -=, /=, */</h2>
<code>
sum_i = 0
for i in range(5):
    sum_i = sum_i + i
    print(i,sum_i)
print(sum_i)

<code>

In [50]:
sum_i = 0
for i in range(5):
    sum_i = sum_i + i
    print(i,sum_i)
print(sum_i)

0 0
1 1
2 3
3 6
4 10
10

In [51]:
sum_i = 0
for i in range(5):
    sum_i += i
    print(i,sum_i)
print(sum_i)

0 0
1 1
2 3
3 6
4 10
10