In [35]:
#Create a database

import sqlite3
import os

cwd = os.getcwd()
# print(cwd)
os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
cwd = os.getcwd()
c = conn.cursor()

In [37]:
#Create person and book tables and insert the information of a book

import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()

c.executescript('''
    create table IF NOT EXISTS person(
        first_name TEXT,
        last_name TEXT,
        age INTEGER
    );
    create table IF NOT EXISTS book(
        title TEXT,
        author TEXT,
        published TEXT
    );

    insert INTO book(title, author, published) VALUES ('Dirk Gently''y Holistic Detective Agency', 'Doublas Adam', 1987);
    ''')
conn.commit()
c.execute('SELECT * FROM book')
r = c.fetchone()
for book in r:
    print(book)
conn.close()

Dirk Gently'y Holistic Detective Agency
Doublas Adam
1987

In [38]:
# Which tables were created

import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
# list all of the tables
c.execute("""SELECT name FROM sqlite_master""")
tables = c.fetchall()
for table in tables:
    print(table)
conn.close()

('person',)
('books',)
('book',)

In [41]:
# Get rid of the book table - DELETE a Table


import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute("""SELECT name FROM sqlite_master""")
tables = c.fetchall()

#Verify if the table is in library

for table in tables:
    print(table)
    if table[0] == 'book':
        c.execute('DROP TABLE book')
        print (f'Deleted {table[0]}')
        conn.commit()
        
print ('='*35)
c.execute("""SELECT name FROM sqlite_master""")
tables = c.fetchall()
for table in tables:
    print(table)

conn.close()

('person',)
('books',)
Deleted books
===================================
('person',)

In [42]:
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('''
    create table IF NOT EXISTS books(
        id TEXT,
        title TEXT,
        author TEXT
    );''')

c.execute("""INSERT into books(id, title, author) values ('001','Outliers','Malcolm Gladwell');""")
c.execute("""INSERT into books(id, title, author) values ('002','Humble Pie','Matt Parker');""")
c.execute("""INSERT into books(id, title, author) values ('003','52 Small Changes','Brett Blumenthal');""")
c.execute("""INSERT into books(id, title, author) values ('004','Blink','Malcolm Gladwell');""")
c.execute("""INSERT into books(id, title, author) values ('005','The Tipping Point','Malcolm Gladwell');""")
c.execute("""INSERT into books(id, title, author) values ('006','All the Powers of Earth','Sidney Blumenthal'); """)
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()

for book in books:
    print(book)
    print('='*35)
conn.close()

('001', 'Outliers', 'Malcolm Gladwell')
===================================
('002', 'Humble Pie', 'Matt Parker')
===================================
('003', '52 Small Changes', 'Brett Blumenthal')
===================================
('004', 'Blink', 'Malcolm Gladwell')
===================================
('005', 'The Tipping Point', 'Malcolm Gladwell')
===================================
('006', 'All the Powers of Earth', 'Sidney Blumenthal')
===================================

In [43]:
#count all the values in book
 
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('SELECT ALL count(*) FROM books') #count all the values in book
books = c.fetchall()

for book in books:
    print(book)
    print('+'*35)
    conn.close()

(6,)
+++++++++++++++++++++++++++++++++++

In [30]:
#Count distint values based on a field name
 
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('SELECT count(DISTINCT id) FROM books') #count all the values in book
books = c.fetchall()

for book in books:
    print(book)
    print('+'*35)
    conn.close()

(6,)
+++++++++++++++++++++++++++++++++++

In [44]:
#Count distint values based on a field name
# (No run - next boxes wont work)
 
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('ALTER TABLE books RENAME TO my_books') #count all the values in book
conn.commit()
c.execute('SELECT * FROM my_books')
books = c.fetchall()

for book in books:
    print(book)

#Rename it back to books
c.execute('ALTER TABLE my_books RENAME TO books')
conn.commit()
conn.close()

('001', 'Outliers', 'Malcolm Gladwell')
('002', 'Humble Pie', 'Matt Parker')
('003', '52 Small Changes', 'Brett Blumenthal')
('004', 'Blink', 'Malcolm Gladwell')
('005', 'The Tipping Point', 'Malcolm Gladwell')
('006', 'All the Powers of Earth', 'Sidney Blumenthal')

In [45]:
#Rename a collumn
 
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('ALTER TABLE books RENAME COLUMN title TO sub_title') #count all the values in book
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()
#
for book in books:
    print(book)
    print('='*30)

# Rename it back
c.execute('ALTER TABLE books RENAME COLUMN sub_title TO title') #count all the values in book
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()
#
for book in books:
    print(book)
    print('='*30)
conn.close()

('001', 'Outliers', 'Malcolm Gladwell')
==============================
('002', 'Humble Pie', 'Matt Parker')
==============================
('003', '52 Small Changes', 'Brett Blumenthal')
==============================
('004', 'Blink', 'Malcolm Gladwell')
==============================
('005', 'The Tipping Point', 'Malcolm Gladwell')
==============================
('006', 'All the Powers of Earth', 'Sidney Blumenthal')
==============================
('001', 'Outliers', 'Malcolm Gladwell')
==============================
('002', 'Humble Pie', 'Matt Parker')
==============================
('003', '52 Small Changes', 'Brett Blumenthal')
==============================
('004', 'Blink', 'Malcolm Gladwell')
==============================
('005', 'The Tipping Point', 'Malcolm Gladwell')
==============================
('006', 'All the Powers of Earth', 'Sidney Blumenthal')
==============================

In [46]:
# Add column to a table 

import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('ALTER TABLE books ADD COLUMN price TEXT')
conn.commit()
c.execute('ALTER TABLE books ADD COLUMN ebook_price TEXT')
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()
#
for book in books:
    print(book)
    print('='*30)
conn.close()

('001', 'Outliers', 'Malcolm Gladwell', None, None)
==============================
('002', 'Humble Pie', 'Matt Parker', None, None)
==============================
('003', '52 Small Changes', 'Brett Blumenthal', None, None)
==============================
('004', 'Blink', 'Malcolm Gladwell', None, None)
==============================
('005', 'The Tipping Point', 'Malcolm Gladwell', None, None)
==============================
('006', 'All the Powers of Earth', 'Sidney Blumenthal', None, None)
==============================

In [47]:
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute(''' 
    UPDATE books SET
    price = '12.99' 
    WHERE author = 'Malcolm Gladwell'
''')
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()
#
for book in books:
    print(book)
    print('='*30)
conn.close()

('001', 'Outliers', 'Malcolm Gladwell', '12.99', None)
==============================
('002', 'Humble Pie', 'Matt Parker', None, None)
==============================
('003', '52 Small Changes', 'Brett Blumenthal', None, None)
==============================
('004', 'Blink', 'Malcolm Gladwell', '12.99', None)
==============================
('005', 'The Tipping Point', 'Malcolm Gladwell', '12.99', None)
==============================
('006', 'All the Powers of Earth', 'Sidney Blumenthal', None, None)
==============================

<h2>Exercise  </h2>
<br>
Set the price of all Blumnethal books at 9.99 <br>
Set the price of Matt Parker's book at 7.99 <br>

In [48]:
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('UPDATE books SET price = "9.99" WHERE author LIKE "%Blumenthal"')
# c.execute('SELECT rowid,* FROM customers WHERE LastName LIKE "T%" ')  # <== The % sign is used as a wildcard
customers = c.fetchall()
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()
#
for book in books:
    print(book)
    print('='*30)
conn.close()

('001', 'Outliers', 'Malcolm Gladwell', '12.99', None)
==============================
('002', 'Humble Pie', 'Matt Parker', None, None)
==============================
('003', '52 Small Changes', 'Brett Blumenthal', '9.99', None)
==============================
('004', 'Blink', 'Malcolm Gladwell', '12.99', None)
==============================
('005', 'The Tipping Point', 'Malcolm Gladwell', '12.99', None)
==============================
('006', 'All the Powers of Earth', 'Sidney Blumenthal', '9.99', None)
==============================

In [49]:
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('UPDATE books SET price = "7.99" WHERE author = "Matt Parker"')
# c.execute('SELECT rowid,* FROM customers WHERE LastName LIKE "T%" ')  # <== The % sign is used as a wildcard
customers = c.fetchall()
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()
#
for book in books:
    print(book)
    print('='*30)
conn.close()

('001', 'Outliers', 'Malcolm Gladwell', '12.99', None)
==============================
('002', 'Humble Pie', 'Matt Parker', '7.99', None)
==============================
('003', '52 Small Changes', 'Brett Blumenthal', '9.99', None)
==============================
('004', 'Blink', 'Malcolm Gladwell', '12.99', None)
==============================
('005', 'The Tipping Point', 'Malcolm Gladwell', '12.99', None)
==============================
('006', 'All the Powers of Earth', 'Sidney Blumenthal', '9.99', None)
==============================

In [1]:
#Add a collumn
 
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('ALTER TABLE books ADD COLUMN Likes INTEGER') #count all the values in book
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()
#
for book in books:
    print(book)
    print('='*30)
conn.close()

('001', 'Outliers', 'Malcolm Gladwell', '12.99', None, None)
==============================
('002', 'Humble Pie', 'Matt Parker', '7.99', None, None)
==============================
('003', '52 Small Changes', 'Brett Blumenthal', '9.99', None, None)
==============================
('004', 'Blink', 'Malcolm Gladwell', '12.99', None, None)
==============================
('005', 'The Tipping Point', 'Malcolm Gladwell', '12.99', None, None)
==============================
('006', 'All the Powers of Earth', 'Sidney Blumenthal', '9.99', None, None)
==============================

# Exercise
1 - If the author last name is 'Gladwell' give him 10000 likes <br>
2 - If the book name is Humble Pie give it 7000 likes <br>
3 - If the title has the word Earth in it give it 5000 likes and an ebook_price = 8.49 <br>

In [2]:
# 1 - If the author last name is 'Gladwell' give him 10000 likes
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('UPDATE books SET Likes = "10000" WHERE author LIKE "%Gladwell"')
customers = c.fetchall()
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()
#
for book in books:
    print(book)
    print('='*30)
conn.close()

('001', 'Outliers', 'Malcolm Gladwell', '12.99', None, 10000)
==============================
('002', 'Humble Pie', 'Matt Parker', '7.99', None, None)
==============================
('003', '52 Small Changes', 'Brett Blumenthal', '9.99', None, None)
==============================
('004', 'Blink', 'Malcolm Gladwell', '12.99', None, 10000)
==============================
('005', 'The Tipping Point', 'Malcolm Gladwell', '12.99', None, 10000)
==============================
('006', 'All the Powers of Earth', 'Sidney Blumenthal', '9.99', None, None)
==============================

In [3]:
# 2 - If the book name is Humble Pie give it 7000 likes
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('UPDATE books SET Likes = "7000" WHERE title = "Humble Pie"')
customers = c.fetchall()
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()
#
for book in books:
    print(book)
    print('='*30)
conn.close()

('001', 'Outliers', 'Malcolm Gladwell', '12.99', None, 10000)
==============================
('002', 'Humble Pie', 'Matt Parker', '7.99', None, 7000)
==============================
('003', '52 Small Changes', 'Brett Blumenthal', '9.99', None, None)
==============================
('004', 'Blink', 'Malcolm Gladwell', '12.99', None, 10000)
==============================
('005', 'The Tipping Point', 'Malcolm Gladwell', '12.99', None, 10000)
==============================
('006', 'All the Powers of Earth', 'Sidney Blumenthal', '9.99', None, None)
==============================

In [11]:
#3 - If the title has the word Earth in it give it 5000 likes and an ebook_price = 8.49

import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('UPDATE books SET Likes = "5000", ebook_price = "9.48" WHERE title LIKE "%Earth%"')
customers = c.fetchall()
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()
#
for book in books:
    print(book)
    print('='*30)
conn.close()

('001', 'Outliers', 'Malcolm Gladwell', '12.99', None, 10000)
==============================
('002', 'Humble Pie', 'Matt Parker', '7.99', None, 7000)
==============================
('003', '52 Small Changes', 'Brett Blumenthal', '9.99', None, None)
==============================
('004', 'Blink', 'Malcolm Gladwell', '12.99', None, 10000)
==============================
('005', 'The Tipping Point', 'Malcolm Gladwell', '12.99', None, 10000)
==============================
('006', 'All the Powers of Earth', 'Sidney Blumenthal', '9.99', '9.48', 5000)
==============================

In [13]:
import sqlite3

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.executescript('''UPDATE books SET
price = 7.99,
ebook_price = 4.49
WHERE author =  'Matt Parker';

UPDATE books SET
price = 5.99,
ebook_price = 3.99
WHERE author =  'Brett Blumenthal';
''')
conn.commit()
c.execute('SELECT * FROM books')
books = c.fetchall()
#
for book in books:
    print(book)
conn.close()
print('='*30)

('001', 'Outliers', 'Malcolm Gladwell', '12.99', None, 10000)
('002', 'Humble Pie', 'Matt Parker', '7.99', '4.49', 7000)
('003', '52 Small Changes', 'Brett Blumenthal', '5.99', '3.99', None)
('004', 'Blink', 'Malcolm Gladwell', '12.99', None, 10000)
('005', 'The Tipping Point', 'Malcolm Gladwell', '12.99', None, 10000)
('006', 'All the Powers of Earth', 'Sidney Blumenthal', '9.99', '9.48', 5000)
==============================

# MIN, MAX, CAST

In [15]:
#3 - If the title has the word Earth in it give it 5000 likes and an ebook_price = 8.49

import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('''SELECT MIN(CAST(price as REAL)) FROM books ORDER BY price''')
books = c.fetchall()
# conn.commit()
# c.execute('SELECT * FROM books')
# books = c.fetchall()
#
for book in books:
    print(book)
    print('='*30)
# conn.close()

(5.99,)
==============================

In [16]:
import sqlite3

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('''SELECT Likes FROM books ORDER BY Likes DESC''')
books = c.fetchall()

for book in books:
    print(book)
print('='*30)
c.execute('''SELECT MAX(Likes) FROM books''')
# conn.close()

(10000,)
(10000,)
(10000,)
(7000,)
(5000,)
(None,)
==============================

# SUM() and AVG()

In [17]:
import sqlite3

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('''SELECT AVG(CAST(price as REAL)) FROM books''')
books = c.fetchall()
# conn.commit()
# c.execute('SELECT * FROM books')
# books = c.fetchall()
#
for book in books:
    print(book)
    
conn.close()
print('='*30)

(10.49,)
==============================

In [18]:
import sqlite3

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Day9')
conn = sqlite3.connect('library.db')  # <== create the database
c = conn.cursor()
c.execute('''SELECT SUM(CAST(price as REAL)) FROM books''')
books = c.fetchall()
# conn.commit()
# c.execute('SELECT * FROM books')
# books = c.fetchall()
#
for book in books:
    print(book)
    
conn.close()
print('='*30)

(62.940000000000005,)
==============================