In [42]:
import os
import sqlite3

filePath = 'C:\\Projects\\SQL_NOSQL\\'
os.chdir(filePath)
conn2 = sqlite3.connect("ABC_corp2.db")
curr2 = conn2.cursor()
curr2 = conn2.cursor()
print('='*40) 
curr2.execute
print('='*40) 
curr2.execute('''SELECT * FROM allData 
              WHERE dept_id = 'CSALE' ''')
tables = curr2.fetchall()
for table in tables:
    print(table)
print('='*40)
curr2.execute('''SELECT name FROM sqlite_master''')
tables = curr2.fetchall()
for table in tables:
    print(table)
print('='*40)
curr2.execute('''SELECT B.first_name,B.last_name,A.emp_id,sum(A.sale_amount) FROM sales A
LEFT JOIN allData B ON A.emp_id = B.emp_id GROUP BY A.emp_id''')
tables = curr2.fetchall()
for table in tables:
    print(table)
print('='*40)
# Who sold over 100,000
curr2.execute('''SELECT B.first_name,B.last_name,A.emp_id,sum(A.sale_amount) FROM sales A
LEFT JOIN allData B ON A.emp_id = B.emp_id GROUP BY A.emp_id HAVING sum(A.sale_amount) >100000 ''')
tables = curr2.fetchall()
for table in tables:
    print(table)
print('='*40)
# Print only people who have sale amounts > 0
curr2.execute('''SELECT A.first_name,A.last_name,A.emp_id,B.sale_amount,A.dept_id FROM allData A 
LEFT JOIN sales B  ON A.emp_id = B.emp_id 
WHERE B.sale_amount > 0
''')
tables = curr2.fetchall()
for table in tables:
    print(table)
print('='*40)
# add the dept name
curr2.execute('''SELECT A.first_name,A.last_name,A.emp_id,B.sale_amount,A.dept_id,C.description 
FROM allData A 
LEFT JOIN sales B  ON A.emp_id = B.emp_id 
LEFT JOIN depts C  ON A.dept_id = C.code 
WHERE B.sale_amount > 0
''')
tables = curr2.fetchall()
for table in tables:
    print(table)
print('='*40, 'SALES PEOPLE')
# list all sales people
curr2.execute('''SELECT A.first_name,A.last_name,A.emp_id,A.dept_id
FROM allData A WHERE A.dept_id = 'CSALE'
''')
tables = curr2.fetchall()
for table in tables:
    print(table)
    print('='*40, 'SALES PEOPLE')
# list all sales people with SALES > 1000
curr2.execute('''
SELECT X.last_name,X.first_name FROM allData X WHERE emp_id in 
(SELECT DISTINCT A.emp_id
FROM allData A 
LEFT JOIN sales B ON a.emp_id = B.emp_id
WHERE A.dept_id = 'CSALE' and B.sale_amount > 1000)
''')
tables = curr2.fetchall()
for table in tables:
    print(table)
print('='*40, 'FORMATING')    
sql = '''SELECT last_name || ', ' || first_name as name
FROM allData ORDER BY name ASC LIMIT 10;'''  
curr2.execute(sql)
tables = curr2.fetchall()
for table in tables:
    print(table)
print('='*40, 'SUBSTR')     
sql = '''SELECT last_name || ', ' || first_name as name,hire_date,
SUBSTR(hire_date,1,4)||substr(hire_date,6,2)||substr(hire_date,9,2) as hd
FROM allData ORDER BY hd ASC LIMIT 15; '''  
curr2.execute(sql)
tables = curr2.fetchall()
for table in tables:
    print(table)
conn2.close()

========================================
========================================
('100', 'Divorced', 'Kellogg', 'Roger', None, None, 'CSALE', None, '001', None, None, None, None, None, None, None)
('101', 'Married', 'Engels', 'Laura', None, None, 'CSALE', None, '100', None, None, None, None, None, None, None)
('102', 'Married', 'Pratt', 'Thomas', None, None, 'CSALE', None, '100', None, None, None, None, None, None, None)
========================================
('allData',)
('marriage_codes',)
('depts',)
('sick_days',)
('regions',)
('Sales',)
========================================
('Roger', 'Kellogg', '100', 100000.0)
('Laura', 'Engels', '101', 138000.0)
========================================
('Laura', 'Engels', '101', 138000.0)
========================================
('Roger', 'Kellogg', '100', 15000.0, 'CSALE')
('Roger', 'Kellogg', '100', 35000.0, 'CSALE')
('Roger', 'Kellogg', '100', 50000.0, 'CSALE')
('Laura', 'Engels', '101', 45000.0, 'CSALE')
('Laura', 'Engels', '101', 45000.0, 'CSALE')
('Laura', 'Engels', '101', 22000.0, 'CSALE')
('Laura', 'Engels', '101', 26000.0, 'CSALE')
========================================
('Roger', 'Kellogg', '100', 15000.0, 'CSALE', 'Corporate External Sales')
('Roger', 'Kellogg', '100', 15000.0, 'CSALE', 'Corporate External Sales')
('Roger', 'Kellogg', '100', 35000.0, 'CSALE', 'Corporate External Sales')
('Roger', 'Kellogg', '100', 35000.0, 'CSALE', 'Corporate External Sales')
('Roger', 'Kellogg', '100', 50000.0, 'CSALE', 'Corporate External Sales')
('Roger', 'Kellogg', '100', 50000.0, 'CSALE', 'Corporate External Sales')
('Laura', 'Engels', '101', 45000.0, 'CSALE', 'Corporate External Sales')
('Laura', 'Engels', '101', 45000.0, 'CSALE', 'Corporate External Sales')
('Laura', 'Engels', '101', 45000.0, 'CSALE', 'Corporate External Sales')
('Laura', 'Engels', '101', 45000.0, 'CSALE', 'Corporate External Sales')
('Laura', 'Engels', '101', 22000.0, 'CSALE', 'Corporate External Sales')
('Laura', 'Engels', '101', 22000.0, 'CSALE', 'Corporate External Sales')
('Laura', 'Engels', '101', 26000.0, 'CSALE', 'Corporate External Sales')
('Laura', 'Engels', '101', 26000.0, 'CSALE', 'Corporate External Sales')
======================================== SALES PEOPLE
('Roger', 'Kellogg', '100', 'CSALE')
======================================== SALES PEOPLE
('Laura', 'Engels', '101', 'CSALE')
======================================== SALES PEOPLE
('Thomas', 'Pratt', '102', 'CSALE')
======================================== SALES PEOPLE
('Kellogg', 'Roger')
('Engels', 'Laura')
======================================== FORMATING
('Breen, Margret',)
('Davidson, Fred',)
('Davidson, Wilma',)
('Davis, Elizabeth',)
('Ellis, Francis',)
('Engels, Laura',)
('Forrest, Peter',)
('Freach, Greta',)
('French, Sara',)
('Gantt, Jackson',)
======================================== SUBSTR
('Kellogg, Roger', None, None)
('Engels, Laura', None, None)
('Pratt, Thomas', None, None)
('Saulzman, Randle', '2001/03/20', '20010320')
('Davidson, Fred', '2003/01/11', '20030111')
('Jones, Pamala', '2003/03/10', '20030310')
('Ellis, Francis', '2005/02/12', '20050212')
('Pollard, Franz', '2007/07/29', '20070729')
('Williamson, Ursula', '2008/01/19', '20080119')
('Ute, Ulsula', '2008/03/11', '20080311')
('Freach, Greta', '2009/05/03', '20090503')
('Forrest, Peter', '2010/04/03', '20100403')
('Nulland, Nicholas', '2010/06/10', '20100610')
('Holland, Henry', '2011/04/02', '20110402')
('Keller, Bradley', '2011/04/30', '20110430')

<h2>Python Easter Egg</h2>

In [44]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

<h2>Recursive</h2>

In [43]:
import sys
sys.setrecursionlimit(1006)
new_limit = sys.getrecursionlimit()
print(new_limit)

1006

<h2>Exercise on recursion</h2>
Recursively print out the letters from the back to the front<br>
phrase = "PYTHON"

In [45]:
for i in "PYTHON":
    print(i)

P
Y
T
H
O
N

In [48]:
phrase = "PYTHON"
for i in range(len(phrase)-1,-1,-1):
    print(phrase[i])

N
O
H
T
Y
P

In [49]:
def rev_string(phrase,len_str):
    if len_str == -1:
        return
    print(phrase[len_str])
    rev_string(phrase,len_str-1)
    return ''
phrase = "PYTHON"
print(rev_string(phrase,len(phrase)-1))

N
O
H
T
Y
P

In [51]:
import os
working_dir = 'C:\\Projects\\SQL_NOSQL\\'

print(os.getcwd())

C:\Projects\SQL_NOSQL

In [57]:
import mysql.connector

mysql_config =  {
  'user': 'root',
  'password': 'admin321',
  'host': '127.0.0.1'
}
conn = mysql.connector.connect(**mysql_config)
curr = conn.cursor(buffered=True)
curr.execute('CREATE DATABASE IF NOT EXISTS ABC_CORP ;')  # <------ The database
conn.close()

In [60]:
import mysql.connector

mysql_config =  {
  'user': 'root',
  'password': 'admin321',
  'host': '127.0.0.1'
}
conn = mysql.connector.connect(**mysql_config)
curr = conn.cursor(buffered=True)
curr.execute('SHOW DATABASES;')  # <------ The database
tables = curr.fetchall()
for table in tables:
    print(table)
conn.close()

('abc_corp',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

<h2>MYSQL Data Types</h2>
CHAR<br>
VARCHAR<br>
INT<br>
INTEGER<br>
FLOAT<br>
DOUBLE<br>
DECIMAL(10.2)<br>
DATE<br>
DATETIME<br>
TIMESTAMP<br>

In [ ]:
# CREATE TABLE
# code CHAR(2)
# state_name VARCHAR(50)
# USE abc_corp

In [72]:
import os
import mysql.connector

mysql_config =  {
  'user': 'root',
  'password': 'admin321',
  'host': '127.0.0.1'
}
conn = mysql.connector.connect(**mysql_config)
curr = conn.cursor(buffered=True)
curr.execute('USE abc_corp;')  # <------ The database
sql = 'CREATE TABLE IF NOT EXISTS states (code CHAR(2),state_name VARCHAR(50))'
curr.execute(sql)
conn.commit()
sql = 'DELETE FROM states;'
curr.execute(sql)
conn.commit()

with open(r'c:\projects\US_states_codes.txt') as fh:
    line = fh.readline()
    while line:
        state_name,code = line.split('-')
        state_name = state_name.strip()
        code = code.strip().replace('\n','')
        print(code,state_name)
        sql = f'''INSERT INTO states VALUES ('{code}','{state_name}') '''
        # print(sql)
        curr.execute(sql)
        conn.commit()
        line = fh.readline()
        
curr.execute('SELECT code, state_name, length(state_name) FROM states ORDER BY state_name;')  # <------ The database
tables = curr.fetchall()
for table in tables:
    print(table)        
conn.close()

AL Alabama
AK Alaska
AZ Arizona
AR Arkansas
CA California
CO Colorado
CT Connecticut
DE Delaware
FL Florida
GA Georgia
HI Hawaii
ID Idaho
IL Illinois
IN Indiana
IA Iowa
KS Kansas
KY Kentucky
LA Louisiana
ME Maine
MD Maryland
MA Massachusetts
MI Michigan
MN Minnesota
MS Mississippi
MO Missouri
MT Montana
NE Nebraska
NV Nevada
NH New Hampshire
NJ New Jersey
NM New Mexico
NY New York
NC North Carolina
ND North Dakota
OH Ohio
OK Oklahoma
OR Oregon
PA Pennsylvania
RI Rhode Island
SC South Carolina
SD South Dakota
TN Tennessee
TX Texas
UT Utah
VT Vermont
VA Virginia
WA Washington
WV West Virginia
WI Wisconsin
WY Wyoming
('AL', 'Alabama', 7)
('AK', 'Alaska', 6)
('AZ', 'Arizona', 7)
('AR', 'Arkansas', 8)
('CA', 'California', 10)
('CO', 'Colorado', 8)
('CT', 'Connecticut', 11)
('DE', 'Delaware', 8)
('FL', 'Florida', 7)
('GA', 'Georgia', 7)
('HI', 'Hawaii', 6)
('ID', 'Idaho', 5)
('IL', 'Illinois', 8)
('IN', 'Indiana', 7)
('IA', 'Iowa', 4)
('KS', 'Kansas', 6)
('KY', 'Kentucky', 8)
('LA', 'Louisiana', 9)
('ME', 'Maine', 5)
('MD', 'Maryland', 8)
('MA', 'Massachusetts', 13)
('MI', 'Michigan', 8)
('MN', 'Minnesota', 9)
('MS', 'Mississippi', 11)
('MO', 'Missouri', 8)
('MT', 'Montana', 7)
('NE', 'Nebraska', 8)
('NV', 'Nevada', 6)
('NH', 'New Hampshire', 13)
('NJ', 'New Jersey', 10)
('NM', 'New Mexico', 10)
('NY', 'New York', 8)
('NC', 'North Carolina', 14)
('ND', 'North Dakota', 12)
('OH', 'Ohio', 4)
('OK', 'Oklahoma', 8)
('OR', 'Oregon', 6)
('PA', 'Pennsylvania', 12)
('RI', 'Rhode Island', 12)
('SC', 'South Carolina', 14)
('SD', 'South Dakota', 12)
('TN', 'Tennessee', 9)
('TX', 'Texas', 5)
('UT', 'Utah', 4)
('VT', 'Vermont', 7)
('VA', 'Virginia', 8)
('WA', 'Washington', 10)
('WV', 'West Virginia', 13)
('WI', 'Wisconsin', 9)
('WY', 'Wyoming', 7)