In [24]:
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Activities Github/Day4_SQL-Lesson 02')
conn = sqlite3.connect('customer.db')
c = conn.cursor()
# conn.commit()
# conn.close()

In [25]:
import os 
print(os.getcwd())

/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Activities Github/Day4_SQL-Lesson 02

In [41]:
conn = sqlite3.connect('customer.db')
c = conn.cursor()
c.execute('''CREATE TABLE IF NOT EXISTS customers (
    first_name TEXT,
    last_name TEXT,
    address1 TEXT,
    address2 TEXT,
    city TEXT,
    state TEXT,
    zip TEXT
)''')
c.execute('DELETE FROM customers')

conn.commit() # <=== commit our table changes to the database !!!
# conn.close()  # Close the connection

In [42]:
# Retreive all table names in the database
for row in c.execute("SELECT name FROM sqlite_master"):
    print(row)
print ()
# Below asks for only 2 specific fields from this table
for row in conn.execute("SELECT first_name, last_name FROM customers"):
    print(row)
# Return all fields from the table customers
print ()
for row in conn.execute("SELECT * FROM customers"):
    print(row)

conn.commit()  # <=== commit our table to the database
# conn.close()

('customers',)

In [43]:
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Activities Github/Day4_SQL-Lesson 02')
conn = sqlite3.connect('customer.db') #Careate or open a database
c = conn.cursor() # Create a cursor connection to the database
all_customers = [
('Fred', 'Fentree', '12 Williams street Avenue', 'Apt 1a', 'Brooklyn', 'NY', '11234'),
('Mary', 'Pew', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234'),
('Mary', 'Roberts', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234'),
('Mary', 'Jones', '10 Center Ave', 'Apt 10b', 'Brooklyn', 'NY', '11234'),
('Lea', 'Jones', '1 Park Avenue', 'Apt 2a', 'Bronx', 'NY', '11234') 
]
c.executemany('INSERT INTO customers VALUES (?,?,?,?,?,?,?)', all_customers)
conn.commit()
# Return all fields from the table customers
for row in conn.execute("""SELECT * FROM customers"""):
    print(row)
# conn.close()

('Fred', 'Fentree', '12 Williams street Avenue', 'Apt 1a', 'Brooklyn', 'NY', '11234')
('Mary', 'Pew', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234')
('Mary', 'Roberts', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234')
('Mary', 'Jones', '10 Center Ave', 'Apt 10b', 'Brooklyn', 'NY', '11234')
('Lea', 'Jones', '1 Park Avenue', 'Apt 2a', 'Bronx', 'NY', '11234')

# Return an unduplicated list of the cities in the customer database

In [44]:
#Retrieve just the list of city  
city = []
for row in conn.execute("""SELECT city FROM customers """): 
    city.append(row[0])
print(city)
print(set(city))
print()
# Mth 2 - DISTINCT
for row in conn.execute("""SELECT DISTINCT city FROM customers """):
    print(row)

['Brooklyn', 'New York', 'New York', 'Brooklyn', 'Bronx']
{'Bronx', 'New York', 'Brooklyn'}

('Brooklyn',)
('New York',)
('Bronx',)

In [20]:
# 1. City en Alpha order using python

city = []
for row in conn.execute("""SELECT city FROM customers """):
    city.append(row[0])
city_list = list(set(city))
# In alpha order or ASCending (ASC)
city_list.sort()
print (city_list)
print('='*35)
# In reverse alpha order or DESCending  (DESC)
city_list.sort(reverse=True)
print (city_list)
print('='*35)

# 1. City en Alpha order using SQL
# In alpha order or ASCending (ASC)
for row in conn.execute("""SELECT DISTINCT city FROM customers ORDER BY city ASC"""):
    print(row)
print('='*35)

# In reverse alpha order or DESCending  (DESC)
for row in conn.execute("""SELECT DISTINCT city FROM customers ORDER BY city DESC"""):
    print(row)

['Bronx', 'Brooklyn', 'New York']
===================================
['New York', 'Brooklyn', 'Bronx']
===================================
('Bronx',)
('Brooklyn',)
('New York',)
===================================
('New York',)
('Brooklyn',)
('Bronx',)

# Exercise <br>
1 - List all customers whose name starts with 'M'. <br>
2 - Count of all customer names and the number of times the first name appears in out table. <br>

In [45]:
# STEPS
# 1. Print everything
# 2. Refine the list

# Mth 1
for row in conn.execute("SELECT first_name FROM customers"):
    if row[0][:1] =='M':
         print (row[0])
print()

# Mth 1 - LIKE clause
for row in conn.execute("SELECT first_name FROM customers WHERE first_name LIKE 'M%'"):
    print (row[0])

Mary
Mary
Mary

Mary
Mary
Mary

In [22]:
names = {}
for row in conn.execute("""SELECT first_name FROM customers"""):
    name = row[0] # Get each name
    if not name in names: # Does this name exist in the dictionary?
        names[name] = 0   # It does so set the count to 0 for that name
    names[name] += 1
print(names)
# conn.commit()  # <=== commit our table to the database
# conn.close()

{'Fred': 2, 'Mary': 6, 'Lea': 2}

In [46]:
# fetchall() - all data into a list  

import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Activities Github/Day4_SQL-Lesson 02')
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT * FROM customers')
print(c.fetchall())
conn.commit()
conn.close()

[('Fred', 'Fentree', '12 Williams street Avenue', 'Apt 1a', 'Brooklyn', 'NY', '11234'), ('Mary', 'Pew', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234'), ('Mary', 'Roberts', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234'), ('Mary', 'Jones', '10 Center Ave', 'Apt 10b', 'Brooklyn', 'NY', '11234'), ('Lea', 'Jones', '1 Park Avenue', 'Apt 2a', 'Bronx', 'NY', '11234')]

In [47]:
# fetchone() - one item in a list

import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Activities Github/Day4_SQL-Lesson 02')
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT * FROM customers')
print(c.fetchone())
conn.commit()
conn.close()

('Fred', 'Fentree', '12 Williams street Avenue', 'Apt 1a', 'Brooklyn', 'NY', '11234')

In [48]:
# fetchmany(3) 
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Activities Github/Day4_SQL-Lesson 02')
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT * FROM customers')
print(c.fetchmany(3))
conn.commit()
conn.close()

[('Fred', 'Fentree', '12 Williams street Avenue', 'Apt 1a', 'Brooklyn', 'NY', '11234'), ('Mary', 'Pew', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234'), ('Mary', 'Roberts', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234')]

# Filter data using a WHERE clause

List all the customers where first name is = 'Mary'

In [49]:
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Activities Github/Day4_SQL-Lesson 02')
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT * FROM customers WHERE first_name = "Mary"')
print(c.fetchall())
conn.commit()
conn.close()

[('Mary', 'Pew', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234'), ('Mary', 'Roberts', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234'), ('Mary', 'Jones', '10 Center Ave', 'Apt 10b', 'Brooklyn', 'NY', '11234')]

In [50]:
# Compound query based on more than one field
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Activities Github/Day4_SQL-Lesson 02')
conn = sqlite3.connect('customer.db')
c = conn.cursor()

c.execute('SELECT * FROM customers WHERE first_name = "Mary" AND address2="Apt 2a"')
print(c.fetchall())
conn.commit()
conn.close()

[('Mary', 'Pew', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234'), ('Mary', 'Roberts', '1 Park Avenue', 'Apt 2a', 'New York', 'NY', '11234')]

# Exercise 
1- Create a table called Depts <br>
2- The table struct ure is the following: <br>
dept code TEXT, <br>
dept_name TEXT<br> 
3- Add the following depts <br>
FIN, Finance <br>
ACC, Accounting <br>
HR, Human Resources <br>
I.T., Information Technology <br>
BACK, Back Office <br>
SALE, Sales <br>
4- Query and print all depts <br>
5 - Using core python query all dept_codes with the letter 'A' inside the code

In [51]:
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Activities Github/Day4_SQL-Lesson 02')
conn = sqlite3.connect('customer.db')
c = conn.cursor()

# The asterick allows you to retreive all of the fields
c.execute("""CREATE TABLE IF NOT EXISTS depts (dept_code TEXT,
dept_name TEXT)""")
conn.commit()
# Which tables exists in my database
for row in c.execute("""SELECT name FROM sqlite_master"""):
    print(row)
    print()
#
all_depts = [ 
    ('FIN', 'Finance'),
    ('ACC', 'Accounting'),
    ('HR', 'Human Resources'),
    ('I.T.', 'Information Technology'),
    ('BACK' , 'Back Office'),
    ('SALE' , 'Sales'),
]
c.executemany('INSERT INTO depts VALUES (?,?)',all_depts)
conn.commit()
for row in c.execute('SELECT * FROM depts'):
    print(row)
print()

for row in c.execute('SELECT dept_code FROM depts'):
    print(row)
print()

('customers',)

('depts',)

('FIN', 'Finance')
('ACC', 'Accounting')
('HR', 'Human Resources')
('I.T.', 'Information Technology')
('BACK', 'Back Office')
('SALE', 'Sales')

('FIN',)
('ACC',)
('HR',)
('I.T.',)
('BACK',)
('SALE',)

In [52]:
# Using core python query all dept_codes with the letter 'A' inside the code
for row in c.execute('SELECT dept_code FROM depts'):
    if 'A' in row[0]:
        print(row)

('ACC',)
('BACK',)
('SALE',)

<h2>Find the letter 'A' in the dept_code using SQL</h2>

In [63]:
# Give me all depts that starts with the letter A 
for row in c.execute("SELECT dept_code FROM depts WHERE dept_code LIKE 'A%'"):
    print(row)
print('+'*35)

# Give me all depts that ends with the letter E 
for row in c.execute("SELECT dept_code FROM depts WHERE dept_code LIKE '%E'"):
    print(row) 
print('+'*35)

# Give me all depts that contains the letter 'A'
for row in c.execute("SELECT dept_code FROM depts WHERE dept_code LIKE '%A%' "):
    print(row)
print('+'*35)

# Add an or statement
for row in c.execute("SELECT dept_code FROM depts WHERE dept_code LIKE '%A%' or dept_code LIKE '%N' "):
    print(row)
print('+'*35)

# not statement
for row in c.execute("SELECT dept_code FROM depts WHERE dept_code NOT LIKE '%A%'  "):
    print(row)
conn.commit()
conn.close()

('ACC',)
+++++++++++++++++++++++++++++++++++
('SALE',)
+++++++++++++++++++++++++++++++++++
('ACC',)
('BACK',)
('SALE',)
+++++++++++++++++++++++++++++++++++
('FIN',)
('ACC',)
('BACK',)
('SALE',)
+++++++++++++++++++++++++++++++++++
('FIN',)
('HR',)
('I.T.',)

<h2>Homework</h2>
Iterate through all of the department names and return<br>
1 - The lower case count of each letter found.  Include an<br>
entry for a space by using the key 'SPACE'.<br>
2 - It should be in descending order by frequency of the letter<br>
3 - Another data structure in Alphabetic order by letter found

In [66]:
# 1 - The lower case count of each letter found.  Include an entry for a space by using the key 'SPACE'.
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Activities Github/Day4_SQL-Lesson 02')
conn = sqlite3.connect('customer.db')
c = conn.cursor()
depts_info = []
for row in c.execute('SELECT dept_name FROM depts'):
    dept_info = [row[0]],len(row[0]) 
    depts_info.append(dept_info)
    print(f'The lower case name of each department: {row[0].lower()}. It has {len(row[0])} characteres.')
print()
print (depts_info)

The lower case name of each department: finance. It has 7 characteres.
The lower case name of each department: accounting. It has 10 characteres.
The lower case name of each department: human resources. It has 15 characteres.
The lower case name of each department: information technology. It has 22 characteres.
The lower case name of each department: back office. It has 11 characteres.
The lower case name of each department: sales. It has 5 characteres.

[(['Finance'], 7), (['Accounting'], 10), (['Human Resources'], 15), (['Information Technology'], 22), (['Back Office'], 11), (['Sales'], 5)]

In [15]:
# 1 - The lower case count of each letter found.  Include an entry for a space by using the key 'SPACE'.
import sqlite3
import os

os.chdir(r'/Users/julis_478/Documents/Python Immersives/PY-112 SQL, No SQL/Classes/Activities Github/Day4_SQL-Lesson 02')
conn = sqlite3.connect('customer.db')
c = conn.cursor()
depts_info = []
letters = {}
for row in c.execute('SELECT dept_name FROM depts'):
    # print (row[0], len (row[0]))
    for letter in row[0]:
        letter = 'SPACE' if letter == ' ' else letter.lower()
        if not letter in letters:
            letters [letter] = 0 
        letters [letter] += 1 
print (letters)

{'f': 4, 'i': 5, 'n': 8, 'a': 6, 'c': 7, 'e': 6, 'o': 7, 'u': 3, 't': 3, 'g': 2, 'h': 2, 'm': 2, 'SPACE': 3, 'r': 3, 's': 4, 'l': 2, 'y': 1, 'b': 1, 'k': 1}

In [24]:
# 2 - It should be in descending order by frequency of the letter

print ('Sorted by item founf - Descending')
all_sorted = sorted(letters.items(), key = lambda kv: kv[1], reverse = True)
print (all_sorted)

Sorted by item founf - Descending
[('n', 8), ('c', 7), ('o', 7), ('a', 6), ('e', 6), ('i', 5), ('f', 4), ('s', 4), ('u', 3), ('t', 3), ('SPACE', 3), ('r', 3), ('g', 2), ('h', 2), ('m', 2), ('l', 2), ('y', 1), ('b', 1), ('k', 1)]
[('n', 8), ('c', 7), ('o', 7), ('a', 6), ('e', 6), ('i', 5), ('f', 4), ('s', 4), ('u', 3), ('t', 3), ('SPACE', 3), ('r', 3), ('g', 2), ('h', 2), ('m', 2), ('l', 2), ('y', 1), ('b', 1), ('k', 1)]

In [23]:
# 3 - Another data structure in Alphabetic order by letter found
print ('Sorted in alpha order')
all_sorted = sorted(letters.items(), key = lambda kv: kv[0], reverse = True)
print (all_sorted)

Sorted in alpha order
[('y', 1), ('u', 3), ('t', 3), ('s', 4), ('r', 3), ('o', 7), ('n', 8), ('m', 2), ('l', 2), ('k', 1), ('i', 5), ('h', 2), ('g', 2), ('f', 4), ('e', 6), ('c', 7), ('b', 1), ('a', 6), ('SPACE', 3)]

In [26]:
#Turn a list of tuple back into a Dictionary
a1 = {all_sorted[i][0]:all_sorted[i][1] for i in range (len (all_sorted))}
print (a1)

{'n': 8, 'c': 7, 'o': 7, 'a': 6, 'e': 6, 'i': 5, 'f': 4, 's': 4, 'u': 3, 't': 3, 'SPACE': 3, 'r': 3, 'g': 2, 'h': 2, 'm': 2, 'l': 2, 'y': 1, 'b': 1, 'k': 1}